.analytics_container {
    background-color: #f9fcff;
    border-radius: 12px;
    padding: 2rem 2rem 1rem;
}

.analytics_loading {
    width: 464px;
    height: 239px;
    background-color: #f9fcff;
    border-radius: 12px;
    background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
}

.info {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}

.left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.right {
    font-weight: 600;
    font-size: 1.2rem;
}

.bullet {
    background-color: #90c4cc;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
